<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>751549539998-4sf3bv7fpm357e7cgu70rj3f6a4qeub0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751549539998-4sf3bv7fpm357e7cgu70rj3f6a4qeub0</string>
	<key>API_KEY</key>
	<string>AIzaSyCaDJHb3Bkdfc3-skhlBHD7cJWQUn0wXnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>751549539998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliageist.Cardinal-Wizards</string>
	<key>PROJECT_ID</key>
	<string>cardinal-wizards</string>
	<key>STORAGE_BUCKET</key>
	<string>cardinal-wizards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751549539998:ios:1848469aa6c2e7da</string>
	<key>DATABASE_URL</key>
	<string>https://cardinal-wizards.firebaseio.com</string>
</dict>
</plist>